<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>707</integer>
	<key>capHeight</key>
	<integer>674</integer>
	<key>copyright</key>
	<string>~</string>
	<key>descender</key>
	<integer>-200</integer>
	<key>familyName</key>
	<string>Hind</string>
	<key>openTypeHeadCreated</key>
	<string>2015/08/06 22:36:33</string>
	<key>openTypeNameDesigner</key>
	<string>Manushi Parikh, Satya Rajpurohit</string>
	<key>openTypeNameDesignerURL</key>
	<string>~</string>
	<key>openTypeNameManufacturer</key>
	<string>~</string>
	<key>openTypeNameManufacturerURL</key>
	<string>~</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Hind</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Light</string>
	<key>openTypeOS2WeightClass</key>
	<integer>300</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>styleMapFamilyName</key>
	<string>Hind Light</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Light</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>507</integer>
</dict>
</plist>
